.danger {
	padding: 10px;
	border: 10px solid white;
	display: inline-block;
	background: red;
	border-radius: 20%;
}

.warning {
	padding: 10px;
	border: 10px solid white;
	display: inline-block;
	background: #eadf50;
	border-radius: 20%;
}

.safe {
	padding: 10px;
	border: 10px solid white;
	display: inline-block;
	background: green;
	border-radius: 20%;
}

div{
	margin-left:20px;
		overflow: hidden;
	
}
 body {
	margin: 0;
	padding: 0;
}


nav {
	width: 100%;
	font-family: 'VT323', monospace;
}

nav ul li:hover {
	transform: scale(1.1);
}

tr:nth-child(even) {
	background-color: #eee;
}


